# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*build*
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/MX2_AP_EB/MX2_AP_EB.cscope_file_list
/MX2_AP_EB/bin/
/MX2_AP_EB/obj/


/MX2_AudioPlayer/*.cproject
/MX2_AudioPlayer/*.mxproject
/MX2_AudioPlayer/*.project
/MX2_AudioPlayer/*.xml
/MX2_AudioPlayer/.settings
/MX2_AudioPlayer/.vscode
/SI/