# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*build*
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/MX2_AP_EB/MX2_AP_EB.cscope_file_list
/MX2_AP_EB/bin/
/MX2_AP_EB/obj/

# ignore CLion project
./idea

/MX2_AudioPlayer/*.cproject
/MX2_AudioPlayer/*.mxproject
/MX2_AudioPlayer/*.project
/MX2_AudioPlayer/*.xml
/MX2_AudioPlayer/.settings
/MX2_AudioPlayer/.vscode
/SI/
/BspH1/EWARM/BspH1/Obj/*.pbi
/BspH1/EWARM/BspH1/Obj/*.xcl

# ignore some IAR mid files
BspH1/EWARM/Backup of BspH1\.ewp
BspH1/EWARM/settings/BspH1\.BspH1\.cspy\.bat
BspH1/EWARM/settings/BspH1\.BspH1\.cspy\.ps1
BspH1/EWARM/settings/BspH1\.BspH1\.driver\.xcl
BspH1/EWARM/settings/BspH1\.BspH1\.general\.xcl
BspH1/EWARM/settings/BspH1\.crun
BspH1/EWARM/settings/BspH1\.dbgdt
BspH1/EWARM/settings/BspH1\.dnx
BspH1/EWARM/BspH1/Obj/
